{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.fancytable/dist/fancyTable.min.js"></script>
{% endblock %}

{% block body %}

<table class="table table-striped fancy-table">
    <thead>
        <tr>
            <th>Host</th>
            <th>Country</th>
            <th>OS</th>
            <th>CPU</th>
            <th data-sortas="numeric">Cores</th>
            <th data-sortas="numeric">Mem Total</th>
            <th data-sortas="numeric">Mem Free</th>
            <th>Uptime</th>
            <th>GPU (shoddy and only detects nvidia)</th>
            <th>Shell</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients.values() %}
        <tr>
            <td>{{ "%s:%d" % client.host() }}</td>
            <td>a</td>
            <td>{{ status[client]["os"] }}</td>
            <td>{{ status[client]["cpu"] }}</td>
            <td>{{ status[client]["cores"] }}</td>
            <td>{{ status[client]["mem_total"] }}</td>
            <td>{{ status[client]["mem_free"] }}</td>
            <td>{{ status[client]["uptime"] }}</td>
            <td>a</td>
            <td><a href="/shell/{{client.host()[0]}}/{{client.host()[1]}}">Shell</a></td>
        <tr>
        {% endfor %}
    </tbody>
</table>

<script>
 $(document).ready(() => {
     $(".fancy-table").fancyTable({
         sortColumn: 0,
     });
 });
</script>

{% endblock %}
